#mainFrame{
  width:100%;
  height:100%;
  border: 0;
}

body { color: black; background-color: white; background-image: url(../images/back.gif); margin: 0; padding: 0; }
p {}
td.line{
border-bottom: #666666 dotted 1px;
}
table.job{
border: #666666 dotted 1px;background-color:#E8E8E8;
margin-left:5px;
width:420px;
}
table.job td{
font-size:9px;
font-weight:bold;
}

table.uploadform{
border: #666666 dotted 1px;background-color:#E8E8E8;
margin-left:5px;
width:450px;
}
.uploadform .detail {
width:280px;
}
table.uploadformadmin{
border: #666666 dotted 1px;background-color:#E8E8E8;
margin-left:5px;
width:750px;
}
.uploadformadmin .detail {
width:280px;
}

.job span{
font-weight:normal;

}


.job .detail {
width:280px;
}
table.uploadform td{
font-weight:bold;
}

table.job td {
line-height: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-align: left;vertical-align: top;
}
table.newstable{
padding-left:5px;
padding-right:5px;

}
td.backgroundBorderStriped{
background-color:#CCCCCC;
border: #666666 dotted 1px;
padding:6px;
font-size: 9px;
}
.smallRed{
font-size:8px;
color:red;
}
td   { color: black; font-size: 10px; line-height: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-align: left; }
.ads { color: black; font-size: 10px; line-height: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-align: left; vertical-align: top; border:#86C8ED solid 1px;
margin:0px;
}
td.contact { color: black; font-size: 12px; line-height: 16px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-align: left }
td.contactSmall { color: black; font-size: 11px; line-height: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-align: left }
td.height { height: 180px }
td.height2 { height: 163px }
.redbar { color: red; font-size: 10px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
.redhead { color: red; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
.bluhead { color: #0083cc; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
.redheadPlus { color: red; font-weight: bold; font-size: 15px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
.heading { color: #0083cc; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
.headingPlus { color: #0083cc; font-weight: bold; font-size: 15px; font-family: Verdana, Arial, Helvetica, SunSans-Regular }
a:link { color: black ; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
a:visited { color: purple ; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; }
a:hover { color: white ; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; }
p.copyright  { color: black; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: right }
a.bottomNav { color: black; font-weight: bold; font-size: 9px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: none }
a.contact { color: #0083cc; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: none }
a.news { color: #0083cc; font-size: 10px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: none }
a.news:hover { color: #0083cc; font-size: 10px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: underline }
a.newslarge { color: #0083cc; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: none }
a.newslarge:hover { color: #0083cc; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: underline }
a.contact:hover { color: #0083cc; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: underline }
a.bottomNav:hover { color: black; font-weight: bold; font-size: 9px; font-family: Verdana, Arial, Helvetica, SunSans-Regular; text-decoration: underline }
#inputlogin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(../images/inputbackground.jpg);
	border: 1px white solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	color: #FFFFFF;
	width: 120px;
	height:14px;
	margin:0px;
	padding-left:5px;
}
#inputloginpassword {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(../images/inputbackground.jpg);
	border: 1px white solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	color: #FFFFFF;
	height:14px;
	width: 91px;
	margin-top:0px;
	padding-left:5px;
}
a.adminlogout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
a.adminlogout:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #FFFFFF;
}

#adminLogoutContainer {

margin-bottom:2px;

}
#loginLine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	clear: both;
}
.login {
	width: 100%;
	
}
.login #alignright {
	text-align: right;
}
.paddRight{
padding-right:10px;
}
a.smallAdd {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66B4E0;
	text-decoration: underline;
}
a.smallAdd:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66B4E0;
	text-decoration: none;
}
.adText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #333333;
	line-height: 16px;
}
	.platinumImages{
		width:153px;
		height:104px;
		border:1px #CCC solid;
		/*	margin-top:5px;*/
		margin-left:6px;
	margin-right:4px;
	/*		margin-bottom:4px;*/
	float:right;
		}
		.roundcont { width: 435px; background-color: #86C8ED; color: #fff; margin-top:5px; margin-bottom:10px; margin-left:4px;}
	.roundcontadmin { width: 500px; background-color: #86C8ED; color: #fff; margin-top:5px; margin-bottom:10px; margin-left:4px;}
.roundcont p {
	
}

.roundtop { 
	background: url(../images/bl_03.gif) no-repeat top right; 
}

.roundbottom {
	background: url(../images/bl_07.gif) no-repeat top right; 
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
     display: block !important;
}
.roundcont h1 {
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
margin-left:20px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}
.roundcontadmin h1 {
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
margin-left:20px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}

.paddingforinfocell {
	padding-left: 10px;
	padding-right:10px;
}
#addresstext {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:black;
margin-bottom:10px;
}
.topimageleft{
	border:1px #CCC solid;
margin-right:5px;
margin-bottom:5px;
float:left;
}
.topimageright{
	border:1px #CCC solid;
margin-left:5px;
margin-bottom:5px;
}
.loginTable{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin-left:5px;
text-align::left;
}
.error {
	color:red;
	font-size:14px;
	border:2px;
	line-height:16px;
}
#cell_error_text{
color:red;
	font-size:14px;
	border:2px;
	line-height:16px;
}

.registerTable{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin-left:5px;
text-align::left;
}
.row_even{
  background-color:#FFFFFF;
}

.row_odd{
  background-color:#CCCCCC;
	
}
hr.newsbreaker{
height: 0px;
border-bottom-color:#CCCCCC;
border:1px dotted;
width:100%;
}

span.supplierlinespace{
line-height:16px;

}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;

}