#logo{
  display:inline;
  float:right;
		border: 1px #666666 solid;
}

#heading{
  font-size:14px;
  font-weight:bold;
  padding-bottom:1em;
}

#text{
}

#link{
  font-size:13px;
  font-weight:bold;
}


.cell_description{

}

.cell_link{

}

#details{
margin-left:6px;
font-weight:bold;
}